.wrapper {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 16px;
  min-height: 100%;
}

.--ibg {
  position: relative;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.--flex {
  display: flex;
}

.--justify-center {
  justify-content: center;
}

.--flex-center {
  align-items: center;
  justify-content: center;
}

.--justify-between {
  justify-content: space-between;
}
